@model IEnumerable<SiCAEWeb.Models.NotificacaoModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="AdicionarNotificacao">Inserir</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idNotificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prioridade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.remetente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.destinatario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idNotificacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prioridade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.remetente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.destinatario)
            </td>
            <td>
                <a asp-controller="Notificacao" asp-action="Detalhes" asp-route-id="@item.idNotificacao" class="btn btn-primary rounded-pill"><i class="fa fa-info"></i> Detalhes</a>
                <a asp-controller="Notificacao" asp-action="AlterarNotificacao" asp-route-id="@item.idNotificacao" class="btn btn-primary rounded-pill"><i class="fa fa-cog"></i> Alterar</a>
                <a asp-controller="Notificacao" asp-action="ExcluirNotificacao" asp-route-id="@item.idNotificacao" class="btn btn-primary rounded-pill"><i class="fa fa-trash"></i> Excluir</a>
               
            </td>
        </tr>
}
    </tbody>
</table>
