@model IEnumerable<SiCAEWeb.Models.EscolaModel>

@{
    ViewData["Title"] = "Escola";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>Escola</h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <a asp-action="Create" class="btn btn-primary rounded-pill">Novo</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <table class="table table-hover text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>Identificação</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Diretor(a)</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdEscola)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdDiretor)
                            </td>
                            <td>
                                <a asp-controller="Escola" asp-action="Details" asp-route-id="@item.IdEscola" class="btn btn-primary rounded-pill"><i class="fa fa-info"></i> Detalhes</a>
                                <a asp-controller="Escola" asp-action="Edit" asp-route-id="@item.IdEscola" class="btn btn-primary rounded-pill"><i class="fa fa-cog"></i> Alterar</a>
                                <a asp-controller="Escola" asp-action="Delete" asp-route-id="@item.IdEscola" class="btn btn-primary rounded-pill"><i class="fa fa-trash"></i> Excluir</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
