@model IEnumerable<SiCAEWeb.Models.EscolaModel>

@{
    ViewData["Title"] = "Escola";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>Escola</h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <a asp-action="Create" class="btn btn-primary rounded-pill">Novo</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.IdEscola)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Telefone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rua)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NumeroImovel)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bairro)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Complemento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cep)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CodIbge)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cnpj)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdDiretor)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdEscola)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rua)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumeroImovel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Bairro)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Complemento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cep)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CodIbge)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cnpj)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdDiretor)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.IdEscola }) |
                                @Html.ActionLink("Detalhes", "Details", new { id = item.IdEscola }) |
                                @Html.ActionLink("Deletar", "Delete", new { id = item.IdEscola })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
