@model IEnumerable<SiCAEWeb.Models.AlunoModel>

@{
    ViewData["Title"] = "Aluno";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Aluno</h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2">
            <a asp-action="Create" class="btn btn-primary rounded-pill">Novo</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.IdAluno)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NomeSocial)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdAluno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomeSocial)
                            </td>                          
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.IdAluno }) |
                                @Html.ActionLink("Detalhes", "Details", new { id = item.IdAluno }) |
                                @Html.ActionLink("Deletar", "Delete", new { id = item.IdAluno })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
