@model IEnumerable<SiCAEWeb.Models.AlunoModel>

@{
    ViewData["Title"] = "Aluno";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Aluno</h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-2">
            <a asp-action="Create" class="btn btn-primary rounded-pill">Novo</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <table class="table table-hover text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>Identificação</th>
                        <th>Nome</th>
                        <th>Turma</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdAluno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                
                            </td>                          
                            <td>
                                <a asp-controller="Aluno" asp-action="Details" asp-route-id="@item.IdAluno"
                                   class="btn btn-primary rounded-pill"><i class="fa fa-info"></i> Detalhes
                                </a>
                                <a asp-controller="Aluno" asp-action="Edit" asp-route-id="@item.IdAluno"
                                   class="btn btn-primary rounded-pill"><i class="fa fa-cog"></i> Alterar
                                </a>
                                <a asp-controller="Aluno" asp-action="Delete" asp-route-id="@item.IdAluno"
                                   class="btn btn-primary rounded-pill"><i class="fa fa-trash"></i> Excluir
                                </a>
                                <!--@Html.ActionLink("Editar", "Edit", new { id = item.IdAluno }) |
                                @Html.ActionLink("Detalhes", "Details", new { id = item.IdAluno }) |
                                @Html.ActionLink("Deletar", "Delete", new { id = item.IdAluno })-->
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
