@model SiCAEWeb.Models.DiahoraModel

@{
    ViewData["Title"] = "DELETAR DIA/HORA";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>DIA/HORA</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>DELETAR</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>TEM CERTEZA QUE DESEJA DELETAR?</h3>
        </div>
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdDiahora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdDiahora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HorarioInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioTermino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HorarioTermino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiaSemana)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiaSemana)
        </dd>
    </dl>
    
    <form class="row" asp-action="Delete">
        <div class="col-2">
            <input type="submit" value="DELETAR" class="btn btn-danger rounded-pill" />
        </div>
        <div class="col-2">
            <a asp-action="Index" class="btn btn-secondary rounded-pill">VOLTAR</a>
        </div>
    </form>
</div>
