@model SiCAEWeb.Models.DiahoraModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DiahoraModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdDiahora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdDiahora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HorarioInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioTermino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HorarioTermino)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiaSemana)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiaSemana)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.IdDiahora  }) |
    <a asp-action="Index">Back to List</a>
</div>
